.header{
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 220px;
    padding-right: 220px;
    box-shadow: 0 0 4px 1.2px gray;
}
.foodwagon{
    display: flex;
    align-items: center;
}
.food{
    color: #F17228;
    font-size: 31px;
    font-weight: 700;
}
.wagon{
    color: #FFB30E;
    font-size: 31px;
    font-weight: 700;
}
.btn{
    width: 118px;
    height: 46px;
    border-radius: 8px;
    color: #FFB30E;
    border: none;
    box-shadow: 0 0 4px 1.2px #FFB30E;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
}
.searchfood{
    font-size: 18px;
    font-weight: 700;
}
.h2btn{
    display: flex;
    align-items: center;
    gap: 30px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 71px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
main h1{
    color: #F17228;
    font-size: 43px;
    font-weight: 700;
}
.cardBox{
    display: flex;
    gap: 32px;
}
.card{
    width: 307px;
    height: 239px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 41px;
}
.card h4{
    font-size: 22px;
    font-weight: 700;
}
.card p{
    font-size: 18px;
    font-weight: 400;
    color: #9E9E9E;
}
.icons{
    width: 86px;
    height: 112px;
    color: #FFB30E;
}